body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: xx-large;
	font-weight: 900;
	margin-bottom: 20px;
	line-height: 40px;
}

h2 {
	font-size: x-large;
	font-weight: 800;
	margin-bottom: 20px;
	line-height: 30px;
}

h3 {
	font-size: large;
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 20px;
}

p {
	margin-bottom: 20px;
}

header {
	z-index:5;
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #3852A4;
}

header.expanded {
	height: 100px;
}

header .submenu {
	top: 50px;
	clear: both;
	position:fixed;
}

	header #MenuButton {
		display: none;
	}

	header h1 {
		float: left;
		margin-left: 50px;
		margin-bottom: 0;

		color: white;
		font-weight: 600;
		line-height: 50px;
		font-size: xx-large;
		font-variant: small-caps;

		cursor: pointer;
	}

	header menu {
		float: right;
		margin-right: 25px;
	}

	header li {
		padding: 0 25px;
		line-height: 50px;
		display: inline-block;
		list-style-type: none;

		color: white;
		font-weight: 600;
		font-size: x-large;
		font-variant: small-caps;

		cursor: pointer;
	}

#Sponsors {
	top: 100px;
	right: 0;
	height: 50%;
	width: 250px;
	position: absolute;
	text-align: center;
	padding-right: 50px;
}

	#Sponsors article {
		margin: 50px 0;
		border: 2px solid black;
	}

	#Sponsors article h1 {
		color: #FFFFFF;
		padding: 10px;
		font-weight: 600;
		font-size: xx-large;
		font-variant: small-caps;
		background-color: #3852A4;
	}

	#Sponsors h2, #Sponsors h3, #Sponsors h4 {
		color: #000000;
		margin: 0 5%;
		font-weight: 400;
		font-size: large;
		font-variant: small-caps;
		background-color: #FFFFFF;
	}

	#Sponsors article p {
		padding: 10px;
	}

#Content {
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 350px;
}

	#Content #ContentHeader {
		text-align: center;
	}

	#Content article {
		margin: 0;
		width: 80%;
		min-width: 500px;
		max-width: 800px;
		margin: 50px auto;
		border: 2px solid black;
	}

	#Content article h1 {
		color: #FFFFFF;
		padding: 10px;
		font-weight: 600;
		font-size: xx-large;
		font-variant: small-caps;
		background-color: #3852A4;
	}

	#Content h2, #Content h3, #Content h4 {
		color: #000000;
		margin: 0 5%;
		font-weight: 400;
		font-size: large;
		font-variant: small-caps;
		background-color: #FFFFFF;
	}

	#Content h3, #Content h4 {
		text-align: center;
	}

	#Content article p {
		padding: 10px;
	}

	#Content h1 a {
		color: white;
		text-decoration: none;
	}

#EventBriteTickets {
	width: 100%;
	height: 500px;
	display: block;
	text-align: left;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 1050px) {
	header {
		height: 100px;
	}

		header h1 {
			line-height: 100px;
		}

		header #MenuButton {
			margin: 0;
			float:right;
			display: block;
		}

		header menu {
			right: 0;
			margin: 0;
			top: 100px;
			float: none;
			width: 200px;
			height: 100%;
			position: fixed;
			text-align: right;
			background: #3852A4;
		}

		header .submenu {
			top: 100px;
			right: 200px;
		}

		header ul {
			padding: 0;
		}

		header li {
			color: white;
			font-size: xx-large;
			font-weight: 600;
			font-variant: small-caps;

			line-height: 75px;
			display: list-item;
			list-style-type: none;
		}

		header li{
		}

	#Sponsors {
		top: 100px;
	}

	#Content {
		padding-top: 100px;
	}

	#Content article {
		width: 100%;
		min-width: 250px;
		max-width: 600px;
	}

	#EventBriteTickets {
		display: none;
	}
}

@media only screen and (max-width: 860px) {
	#Sponsors {
		top: auto;
		padding: 0;
		right: auto;
		width: 50%;
		min-width: 250px;
		height: auto;
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}

	#Content {
		padding-right: 50px;
	}

	#EventBriteTickets {
		display: none;
	}
}
